body {
    font-family: Arial, sans-serif;
    max-width: 640px;
    margin: 0 auto;
  }
  
  #add-task-form {
    display: flex;
    margin-bottom: 10px;
  }
  
  #new-task {
    flex-grow: 1;
    padding: 5px;
  }
  
  #task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

  }
  
  #task-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    /* list-style: none; */
  }
  
  #task-list li:last-child {
    /* border-bottom: none; */
  }
  
  #task-list li.completed {
    text-decoration: line-through;
  }